VITE_POSTHOG_HOST=https://us.i.posthog.com
VITE_POSTHOG_KEY=
VITE_RESUME_URL=https://rbondoc96-personal.s3.us-east-2.amazonaws.com/4LPJskEBh/Rodrigo-Bondoc-Resume.pdf

# Sanity CMS
VITE_SANITY_PROJECT_ID=
VITE_SANITY_DATASET=
