# AI
AGENTS.local.md
AGENTS.override.md
CLAUDE.local.md

# Build artifacts
.tanstack
build
dist

# Dependencies
node_modules

# Environment
.env*
!.env.example

# IDEs
.idea

# Impeccable
.impeccable/live

# Local
*.local.*

# OS
.DS_Store

# Sanity
.sanity
