@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.195 0.044 264.6);
    --border: oklch(0.965 0.012 259.7);
    --input: oklch(0.965 0.012 259.7);
    --ring: oklch(0.784 0.07 259.7);
    --radius: 0.625rem;

    /*
     * ===============================
     *  Color Palette
     * ===============================
     */

    --primary: oklch(0.195 0.044 264.6);
    --primary-foreground: oklch(0.985 0.017 259.7);

    --secondary: oklch(0.958 0.012 259.7);
    --secondary-foreground: oklch(0.195 0.044 264.6);

    --accent: oklch(0.784 0.181 19.6);
    --accent-hover: oklch(0.715 0.17 19.6);
    --accent-foreground: oklch(0.985 0.017 259.7);

    --muted: oklch(0.958 0.012 259.7);
    --muted-foreground: oklch(0.507 0.045 262.2);

    --caution: oklch(0.784 0.17 99.6);
    --caution-foreground: oklch(0.384 0.07 99.6);

    --danger: oklch(0.627 0.233 29.2);
    --danger-foreground: oklch(0.985 0.017 259.7);

    --info: oklch(0.627 0.17 259.7);
    --info-foreground: oklch(0.384 0.07 259.7);

    --success: oklch(0.627 0.17 151.2);
    --success-foreground: oklch(0.384 0.07 151.2);

    /*
     * ===============================
     *  Component Color Palette
     * ===============================
     */

    --card: oklch(1 0 0);
    --card-foreground: oklch(0.195 0.044 264.6);

    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.195 0.044 264.6);
}

.dark {
    --background: oklch(0 0 0);
    --foreground: oklch(0.985 0.017 259.7);
    --border: oklch(0.262 0.022 264.6);
    --input: oklch(0.262 0.022 264.6);
    --ring: oklch(0.262 0.022 264.6);
    --radius: 0.625rem;

    /*
     * ===============================
     *  Color Palette
     * ===============================
     */
    --primary: oklch(0.985 0.017 259.7);
    --primary-foreground: oklch(0.195 0.044 264.6);

    --secondary: oklch(0.195 0.044 264.6);
    --secondary-foreground: oklch(0.985 0.017 259.7);

    --accent: oklch(0.784 0.181 19.6);
    --accent-hover: oklch(0.715 0.17 19.6);
    --accent-foreground: oklch(0.985 0.017 259.7);

    --muted: oklch(0.195 0.044 264.6);
    --muted-foreground: oklch(0.507 0.045 262.2);

    --caution: oklch(0.784 0.17 99.6);
    --caution-foreground: oklch(0.384 0.07 99.6);

    --danger: oklch(0.627 0.233 29.2);
    --danger-foreground: oklch(0.985 0.017 259.7);

    --info: oklch(0.627 0.17 259.7);
    --info-foreground: oklch(0.384 0.07 259.7);

    --success: oklch(0.627 0.17 151.2);
    --success-foreground: oklch(0.384 0.07 151.2);

    /*
     * ===============================
     *  Component Color Palette
     * ===============================
     */

    --card: oklch(0.187 0.032 264.6);
    --card-foreground: oklch(0.985 0.017 259.7);

    --popover: oklch(0.187 0.032 264.6);
    --popover-foreground: oklch(0.784 0.044 264.6);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;

        display: flex;
        flex-direction: column;
        font-feature-settings:
            'rlig' 1,
            'calt' 1;
    }
}
